* {
    font-family: 'Roboto', Arial;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;    
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb
}

.top-links {
    display: flex;
    gap: 18px;
    text-wrap: wrap;
}

ul {
    display: flex;
    gap: 10px;
}

/*section two */

.section-two {
    background-color: #1f2937;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
}

.imgone {
    max-width: 300px;
    max-height: auto;
    flex: 1;
    display: flex;
}

.maintext {
    font-size: 18px;
    color: #e5e7eb
}

.titletwo {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 6px 10px;
    max-width: 100px;
    font-weight: bold;
}

.texttwo {
    display: flex;
    flex-direction: column;

}
/* section 3 */

.section-three {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titlethree {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.textthree {
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
    margin-top: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.picthree, .picfour, .pictwo, .picone {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 5px;
}

/* section 4 */

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.quotation {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    font-weight: bold;
    text-align: right;
}